{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eufo pipefail

if command -v ocx >/dev/null 2>&1; then
	exit 0
fi

echo "Installing OCX..."
curl --proto '=https' --tlsv1.2 -fsSL https://ocx.kdco.dev/install.sh | sh
{{ end -}}
