{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -eu

{{ if eq .chezmoi.osRelease.id "ubuntu" "debian" "linuxmint" -}}
sudo apt-get update -y
sudo apt-get install -y {{ concat .packages.common .packages.apt | join " " }}

{{ else if eq .chezmoi.osRelease.id "fedora" -}}
sudo dnf install -y {{ concat .packages.common .packages.dnf | join " " }}

{{ else if eq .chezmoi.osRelease.id "arch" "manjaro" -}}
sudo pacman -S --noconfirm --needed {{ concat .packages.common .packages.pacman | join " " }}

{{ end -}}
{{ end -}}
