#!/bin/bash
set -eufo pipefail

# Tools config: {{ include "dot_config/mise/config.toml" | trim | replace "\n" "\n# " }}

if ! command -v mise >/dev/null 2>&1; then
    # shellcheck source=/dev/null
    source "${HOME}/.cargo/env"
fi

mise install
