"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  autosave:
    enabled: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "tree-view"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "limited"
    themes: [
      "nucleus-dark-ui"
      "behave-theme"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "6f441e1f-6471-e35a-48fb-8f1d273aef8f"
  "file-icons":
    coloured: false
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "go-plus":
    goPath: "/Users/holman/Code/go"
  "linter-eslint":
    useGlobalEslint: true
  nuclide:
    installRecommendedPackages: true
    "nuclide-home":
      showHome: false
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "terminal-plus":
    style:
      theme: "pro"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
