[tools]
go = "latest"
node = "lts"
uv = "latest"
python = "latest"
bun = "latest"
{{- if eq .chezmoi.os "darwin" }}
"npm:@smithery/cli" = "latest"
"npm:opencode-ai" = "latest"
"npm:oh-my-opencode" = "latest"
{{- end }}
{{- if not .headless }}
"npm:fish-lsp" = "latest"
{{- end }}
